:root {
  --color-honey: #F7B045;
  --color-gold: #FF9900;
  --color-orange: #E1670E;
  --color-carbon: #333;
  --color-white: #fff;
  --color-snow: #ECECEC;
  --color-silver: #CACACA;
  --color-smoke: #7C7C7C;
  --color-grey: #666;
  --color-metal: #414141;
  --color-darkcarbon: #222;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-ExtraBold.eot');
	src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
		url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: 800;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.eot');
	src: local('Montserrat Bold'), local('Montserrat-Bold'),
		url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Medium.eot');
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
		url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
		url('../fonts/montserrat-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.eot");
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

.list {
  nav-right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.button:focus-visible {
  outline: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 50px;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-carbon);
}

.title2 {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-carbon);
}

.text {
  font-size: 16px;
  line-height: 32px;
  color: var(--color-carbon);
}

.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.logo {
  position: relative;
}

.logo:focus::after {
  opacity: 1;
}

.burger {
  position: relative;
  width: 30px;
  height: 23px;
  font-size: 0;
}

.burger::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 5px;
  display: none;
  transition: opacity .3s ease-in-out;
}

.burger:focus::after {
  display: block;
}

.burger__line {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 3px;
  background-color: var(--color-carbon);
  transform: translateX(-50%);
}

.burger__line:first-child {
  top: 0;
}

.burger__line:last-child {
  bottom: 0;
}

.burger__line:nth-child(2) {
  top: 10px;
}

/* header */

.header {
  position: fixed;
  width: 100%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--color-white);
  z-index: 10;
}

.header__content {
  position: relative;
  padding: 12px 0;
  align-items: center;
}

.header__logo {
  margin-right: auto;
  outline: none;
}

.list__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-carbon);
}

.header__item {
  margin-right: 85px;
}

.header__link {
  position: relative;
  transition: border-bottom .3s ease-in-out, color .3s ease-in-out;
}

.header__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__item {
  position: relative;
}

.header__item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: width .3s, color .3s, background-color .3s;
}

.header__item:hover::after {
  background-color: var(--color-gold);
  width: 100%;
}

.header__item:active::after {
  color: var(--color-orange);
  background-color: var(--color-orange);
  width: 100%;
}

.header__link:focus::after {
  opacity: 1;
}

.header__link:active {
  color: var(--color-orange);
}

.search {
  position: absolute;
  right: -20px;
}

.searchbar {
  position: relative;
  width: 0;
  padding: 18px 13px;
  padding-left: 32px;
  border-radius: 16px;
  font-size: 0;
  background-color: white;
  transition: width 1s;
}

.searchbar--active {
  width: 540px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.searchbar--active .searchbar__button {
  right: 65px;
}

.searchbar--active .searchbar__input {
  width: 76%;
}

.searchbar--active .searchbar__input:focus {
  outline: 2px solid var(--color-gold);
  outline-offset: 5px;
}


.searchbar--active .searchbar__image {
  width: 24px;
}

.searchbar--active .searchbar__image:focus::after {
  opacity: 1;
}

.searchbar__input {
  width: 0;
  margin-right: 14px;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #adadad;
  outline: none;
  background-color: transparent;
  transition: width .8s;
}

.searchbar__image {
  position: absolute;
  right: 20px;
  cursor: pointer;
  width: 0;
  margin-left: 21px;
  transition: width .6s;
}

.searchbar__image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 3px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.searchbar__button {
  position: absolute;
  right: 20px;
  transition: all .6s;
}

.header__button {
  position: relative;
  font-size: 0;
}

.header__button svg {
  stroke: var(--color-carbon);
}

.header__button rect {
  fill: var(--color-carbon);
}

.header__button--active svg  {
  stroke: var(--color-gold);
}

.header__button--active rect {
  fill: var(--color-gold);
}

.header__button {
  position: relative;
  font-size: 0;
}

.header__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 3px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.header__button:focus::after {
  opacity: 1;
}

.header__button:hover svg {
  stroke: var(--color-gold);
}

.header__button:hover rects  {
  fill: var(--color-gold);
}

/* hero */

.hero {
  padding-top: 100px;
}

/* .hero__container {
  position: relative;
  min-height: 620px;
  z-index: 0;
} */

.swiper-box {
  position: relative;
  /* top: 0;
  right: 50px;
  bottom: 0;
  left: 50px;
  z-index: -1; */
}

.swiper {
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  background-size: cover;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background: white;
}
/*
.swiper__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
} */

.hero__content {
  position: relative;
  z-index: 1;
  padding: 100px 80px;
  min-height: 620px;
  font-size: 0;
  pointer-events: none;
}

.hero__title {
  width: 55%;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero__text {
  width: 50%;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.hero__button {
  padding: 24px 35px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
  background-color: var(--color-gold);
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.hero__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  background-color: var(--color-orange);
}

/* about */

.about {
  padding: 100px 0;
}

.about__title {
  margin-bottom: 20px;
}

.about__text {
  width: 70%;
  margin-bottom: 50px;
}

.about__inner {
  min-height: 622px;
}

.about__left {
  position: relative;
  max-width: calc((100% - 30px) / 2);
  margin-right: 30px;
  flex-direction: column;
  justify-content: flex-end;
}

.about__background {
  height: 100%;
}

.about__back-image {
  height: 100%;
  object-fit:cover;
  object-position: center;
}

.about__left-content {
  position: absolute;
  align-items: center;
  min-height: 196px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about__left-text {
  width: 60%;
  margin-right: 135px;
  line-height: 32px;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
}

.about__button {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 0;
  color: var(--color-white);
  height: 60px;
  padding: 20px 35px;
  border: 3px solid var(--color-gold);
  transition: background-color .3s ease-in-out;
}

.about__button:focus {
  background-color: var(--color-gold);
  color: white;
}

.about__button:hover {
  background-color: var(--color-gold);
  color: white;
}

.about__button:active {
  border: 3px solid var(--color-orange);
  background-color: var(--color-orange);
  color: white;
}

.about__right {
  max-width: calc((100% - 30px) / 2);
}

.about__list-item {
  min-height: 295px;
  padding: 62px;
  background: var(--color-white);
  border: 1px solid var(--color-silver);
  background-repeat: no-repeat;
  background-position: 64px 64px;
}

.about__list-item:first-child {
  margin-bottom: 32px;
}

.about__list-title {
  line-height: 35px;
  margin-bottom: 4px;
}

.about__list-content {
  padding-left: 242px;
}

.about__list-item:nth-child(1) {
  background-image: url(../img/ab1.svg);
}

.about__list-item:nth-child(2) {
  background-image: url(../img/ab2.svg);
}

.about__item-text {
  width: 83%;
}

/* work */

.work {
  padding-bottom: 100px;
}

.work__title {
  margin-bottom: 50px;
}

.work__list {
  margin-bottom: 46px;
}

.work__item {
  position: relative;
  font-weight: 400;
}

.work__item:not(:last-child) {
  margin-right: 85px;
}

.work__list-button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.work__list-button:focus::after {
  opacity: 1;
}

.work__list-button:hover {
  color: var(--color-gold);
}

.work__list-button.active {
  color: var(--color-orange);
}

.tabs__item {
  display: none;
}

.tabs__item.active {
  display: flex;
}

.work__left {
  width: 870px;
  margin-right: 30px;
}

.work__left-title {
  margin-bottom: 11px;
  line-height: 28px;
}

.work__left-text {
  width: 87%;
  margin-bottom: 50px;
}

.work__button {
  padding: 22px 38px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid var(--color-carbon);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.work__button:first-child {
  margin-right: 28px;
  background-color: var(--color-gold);
  color: var(--color-white);
  border: 1px solid var(--color-gold);
}

.work__button:first-child:focus {
  background-color: var(--color-honey);
}

.work__button:first-child:hover {
  background-color: var(--color-honey);
}

.work__button:first-child:active {
  background-color: var(--color-orange);
}

.work__button:last-child:focus {
  color: var(--color-white);
  background-color: var(--color-grey);
}

.work__button:last-child:hover {
  color: var(--color-white);
  background-color: var(--color-grey);
}

.work__button:last-child:active {
  color: var(--color-white);
  background-color: #000;
}

.work__image {
  height: 100%;
  object-fit:cover;
  object-position: center;
}

/* questions */

.questions {
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 42px;
}

.questions__list-item {
  position: relative;
  margin-top: -1px;
  padding-right: 75px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-silver);
  transition: border-color .5s;
}

.questions__list-item:first-child {
  border-top: 1px solid var(--color-silver);
}

.questions__link {
  transition: color .5s;
}

.questions__list-item:focus,
.questions__list-item:hover {
  border-color: var(--color-gold);
}

.questions__list-item:focus .questions__link,
.questions__list-item:hover .questions__link {
  color: var(--color-gold);
}

.questions__list-item svg {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
  transition: transform .3s ease-in-out;
}

.questions__list-item svg ellipse,
.questions__list-item svg path {
  transition: fill .5s;
}

.questions__list-item:hover svg ellipse {
  fill: var(--color-gold);
}

.questions__list-item:hover svg path {
  fill: var(--color-white);
}

.ac-header {
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 41px 0;
}
.ac-header--active svg {
  transform: rotate(45deg);
}
.ac-panel {
  display: none;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  transition-delay: .3s;
  width: 56%;
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 32px;
}

.ac-panel--active {
  display: block;
  opacity: 1;
}


.ac-text {
  margin-bottom: 15px;
}

/* footer */

.footer {
  padding: 50px 0;
  min-height: 595px;
  background-color: var(--color-darkcarbon);
}

.footer__content  {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 26px;
}


.footer__list {
  margin-bottom: 100px;
}

.footer__list-item {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-silver);
}

.footer__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__list-link {
  position: relative;
  transition: color .3s ease-in-out;
}

.footer__list-link::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 5px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.footer__list-link:focus::after {
  opacity: 1;
}

.footer__list-link:hover {
  color: var(--color-gold);
}

.footer__list-link:active {
  color: var(--color-orange);
}

.footer__social-item:not(:last-child) {
  margin-right: 25px;
}

.footer__social-item {
  position: relative;
  font-size: 0;
}

.footer__social-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  outline: 2px solid var(--color-gold);
  outline-offset: 3px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.footer__social-link svg {
  fill: var(--color-smoke);
  transition: fill .3s ease-in-out;
}

.footer__social-link:focus::after {
  opacity: 1;
}

.footer__social-link:hover svg {
  fill: var(--color-gold);
}

.footer__social-link:active svg {
  fill: var(--color-orange);
}


.footer__middle-title {
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-silver);
}

.form {
  margin: 0;
  padding: 0;
  flex-direction: column;
  border: none;
}

.form__input {
  margin-bottom: 27px;
  padding: 20px 25px;
  border: none;
  background-color: var(--color-metal);
  color: var(--color-white);
  transition: background-color .3s ease-in-out;
}

.form__input:focus,
.form__input:hover,
.form__input:active {
  background-color: var(--color-grey);
}

.form__area {
  margin-bottom: 32px;
  padding: 20px 25px 92px;
  border: none;
  background-color: var(--color-metal);
  color: var(--color-white);
  transition: background-color .3s ease-in-out;
}

.form__area:focus,
.form__area:hover,
.form__area:active {
  background-color: var(--color-grey);
}

.form__bottom {
  align-items: center;
}

.form__button {
  margin-right: 22px;
  padding: 19px 51px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-gold);
  transition: background-color .3s ease-in-out;
}

.form__button:focus {
  background-color: var(--color-honey);
}

.form__button:hover {
  background-color: var(--color-honey);
}

.form__button:active {
  background-color: var(--color-orange);
}

.form__checkbox span {
  display: flex;
  align-items: center;
  position: relative;
  top: -10px;
}


.form__checkbox span::before {
  content: "";
  display: block;
  position: relative;
  left: 0;
  top: 0;
  margin-right: 4px;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
}

.form__checkbox span::after {
  content: "";
  position: absolute;
  display: none;
  top: 51%;
  left: 2px;
  margin-top: -4px;
  width: 10px;
  height: 10px;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
}

.form__checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}


.form__checkbox input:checked + span::after {
  display: block;
}

.form__checkbox input:focus + span::before {
  border-color: var(--color-orange);
}

.form__checkbox-text {
  line-height: 25px;
  color: var(--color-silver);
}

.footer__right {
  width: 20%;
  padding: 87px 0;
}

.footer__right-text {
  color: var(--color-silver);
}
